/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.playField {
    text-align: center;
    font-size: 70px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.playFieldCell {
    cursor: pointer;
}

table {
    text-align: center;
}

.gwt-DialogBox .Caption {
    background: #F1F1F1;
    padding: 4px 8px 4px 4px;
    cursor: default;
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #bbbbbb;
    border-top: 1px solid #D2D2D2;
    width: 300px;
}

.gwt-DialogBox {
    width: 300px;
    background: #808080;
}